.cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 00, 1);
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: black;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}