#hero {
    margin-top: 64px;
}

#hero .container {
    margin: 0 auto;
    width: 1228px;
    height: 682px;
    position: relative;
}

#hero .container .content h1 {
    font-size: 69px;
    width: 773px;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

#hero .container img {
    position: absolute;
    top: 0;
    right: 0;
}

#projects {
    margin: 164px 0;
}

#projects .container {
    margin: 0 auto;
    width: 1284px;
    height: 792px;
}

#projects .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;

}

#projects .container .slider {
    margin-top: 102px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 34px;
    /* width: 610px; */
}

#projects .container .slider .pr-one a {
    display: block;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 18px;
}

#cta {
    margin-bottom: 164px;
}

#cta .container {
    margin: 0 auto;
    width: 1284px;
}

#cta .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;

}

#cta .container .content {
    display: flex;
    width: 100%;
    margin-top: 86px;
}

#cta .container .content .text {
    width: 50%;
}

#cta .container .content .text p {
    font-size: 30px;
    font-weight: 300;
}

#cta .container .content .text p:first-child {
    margin-right: 107px;
}

#cta .container .content .text p:last-child {
    margin-top: 76px;
    margin-right: 0;
}


#about-me {
    margin-bottom: 136px;
}

#about-me .container {
    margin: 0 auto;
    width: 1284px;
}

#about-me .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;

}

#about-me .container .content {
    display: flex;
    width: 100%;
    margin-top: 84.5px;
}

#about-me .container .content .text {
    width: 50%;
}


#about-me .container .content .text p {
    font-size: 30px;
    font-weight: 300;
    margin-right: 107px;
}

#about-me .container .content .text p:last-child {
    margin-top: 30px;
}

#about-me .container .content .text p {
    font-size: 30px;
    font-weight: 300;
    margin-right: 107px;
}

#about-me .container .content .services {
    width: 50%;
}

#about-me .container .content .services p {
    font-size: 30px;
    font-weight: 300;
}

#about-me .container .content .services .accordion .accordion-title {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    margin-top: 20px;
}

#about-me .container .content .services .accordion .accordion-content {
    font-size: 20px;
    font-weight: 300;

}

#tools .container {
    margin: 0 auto;
    width: 1284px;
}

#tools {
    margin-bottom: 184px;
}

#tools .swiper-slide {
    display: flex;
    align-items: center;
}

#tools .swiper-slide {
    font-size: 24px;
    font-weight: 300;
}

#clients {
    margin-bottom: 164px;
}

#clients .container {
    margin: 0 auto;
    width: 1284px;
}


#clients .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;

}