#hero {
    padding-top: 15vh;
    display: flex;
    height: 100vh;
}

#hero .container {
    margin: 0 auto;
    width: 1228px;
    /* height: 682px; */

    position: relative;
}

#hero .container .content h1 {
    font-size: 69px;
    width: 773px;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

#hero .container img {
    position: absolute;
    top: 0;
    right: 0;
}

#projects {
    margin-bottom: 80px;
}

#projects .container {
    margin: 0 auto;
    width: 1284px;
    height: 792px;
}

#projects .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#projects .container .slider {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 34px;
    /* width: 610px; */
}

#projects .container .slider .pr-one a {
    display: block;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 18px;
}

#cta {
    margin-bottom: 80px;
}

#cta .container {
    margin: 0 auto;
    width: 1284px;
}

#cta .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#cta .container .content {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

#cta .container .content .text {
    width: 50%;
}

#cta .container .content .text p {
    font-size: 30px;
    font-weight: 300;
}

#cta .container .content .text p:first-child {
    margin-right: 107px;
}

#cta .container .content .text p:last-child {
    margin-top: 76px;
    margin-right: 0;
}

#about-me {
    margin-bottom: 80px;
}

#about-me .container {
    margin: 0 auto;
    width: 1284px;
}

#about-me .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#about-me .container .content {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

#about-me .container .content .text {
    width: 50%;
}

#about-me .container .content .text p {
    font-size: 30px;
    font-weight: 300;
    margin-right: 107px;
}

#about-me .container .content .text p:last-child {
    margin-top: 30px;
}

#about-me .container .content .text p {
    font-size: 30px;
    font-weight: 300;
    margin-right: 107px;
}

#about-me .container .content .services {
    width: 50%;
}

#about-me .container .content .services p {
    font-size: 30px;
    font-weight: 300;
}

#about-me .container .content .services .accordion .accordion-title {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    margin-top: 20px;
}

#about-me .container .content .services .accordion .accordion-content {
    font-size: 20px;
    font-weight: 300;
}

#tools .container {
    margin: 0 auto;
    width: 1284px;
}

#tools {
    margin-bottom: 80px;
}

#tools .swiper-slide {
    display: flex;
    align-items: center;
}

#tools .swiper-slide {
    font-size: 24px;
    font-weight: 300;
}

#clients {
    margin-bottom: 80px;
}

#clients .container {
    margin: 0 auto;
    width: 1284px;
}

#clients .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#clients .container .clients-review {
    margin-top: 80px;
    text-align: center;
    height: 300px;
}

#clients .container .clients-review .swiper-slide {
    padding: 0 77px;
}

#clients .container .clients-review .swiper-slide h3 {
    font-size: 30px;
    font-weight: 300;
}

#clients .container .clients-review .swiper-slide h4 {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 200;
}

#clients .container .clients-review .swiper-slide p {
    font-size: 25px;
    font-weight: 200;
    margin: 10px;
}

#clients .container .clients-review .swiper-button-prev,
#clients .container .clients-review .swiper-button-next {
    color: #000 !important;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 30px;
}

#clients .container .clients-review .swiper-button-prev:after,
#clients .container .clients-review .swiper-button-next:after {
    font-size: 30px !important;
}

#say-hello {
    margin-bottom: 80px;
}

#say-hello .container {
    margin: 0 auto;
    width: 1284px;
}

#say-hello .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#say-hello .container .content {
    display: flex;
    width: 100%;
    margin-top: 80px;
    align-items: flex-start;
}

#say-hello .container .content .text {
    width: 50%;
    margin-right: 126px;
    margin-top: 10px;
}

#say-hello .container .content .text p {
    font-size: 30px;
    font-weight: 300;
}

#say-hello .container .content .text p:nth-child(2) {
    margin-top: 30px;
}

#say-hello .container .content .form {
    width: 50%;
}

#say-hello .container .content .form form label {
    font-size: 20px;
    margin-bottom: 11px;
    font-weight: 300;
    display: inline-block;
}

#say-hello .container .content .form form input {
    padding: 11px 13px;
    background-color: transparent;
    border: 2px solid #4e4e4e;
    font-size: 20px;
    color: #9f9f9f;
    font-weight: 200;
}

#say-hello .container .content .form form input::placeholder {
    color: #9f9f9f;
}

#say-hello .container .content .form form input[type="button"] {
    border: 2px solid #4e4e4e;
    background-color: #fff;
    color: #000;
    margin-top: 24px;
    padding: 8px 30px;
}

#say-hello .container .content .form form textarea {
    width: 90%;
    padding: 11px 13px;
    background-color: transparent;
    border: 2px solid #4e4e4e;
    font-size: 20px;
    color: #9f9f9f;
    font-weight: 200;
}

#say-hello .container .content .form form .name {
    margin-bottom: 24px;
}

#say-hello .container .content .form form .name input {
    margin-right: 37px;
}

#say-hello .container .content .form form .phone-email {
    display: flex;
    margin-bottom: 24px;
}

#say-hello .container .content .form form .phone-email input {
    margin-right: 37px;
}

#blogs {
    margin-bottom: 80px;
}

#blogs .container {
    margin: 0 auto;
    width: 1284px;
}

#blogs .container .heading h2 {
    border-top: 2px solid #000;
    font-size: 45px;
    padding-top: 40px;
    font-weight: 300;
    text-align: center;
}

#blogs .container .content {
    margin-top: 80px;
}

#blogs .container .content .blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#blogs .container .content .blog-container .seperator {
    width: 2px;
    height: 185px;
    background-color: #000;
    margin: 0 56px;
}

#blogs .container .content .blog-container .blog {
    width: 288px;
}

#blogs .container .content .blog-container .blog h3 {
    font-size: 20px;
    font-weight: 300;
}

#blogs .container .content .blog-container .blog p {
    font-size: 15px;
    font-weight: 200;
    margin: 10px 0;
}

#blogs .container .content .blog-container .blog a {
    font-size: 15px;
    font-weight: 200;
    text-decoration: underline;
}