#resume .container {
    margin: 0 auto;
    width: 1284px;
}

#resume .container .heading h2 {
    border-bottom: 2px solid #000;
    font-size: 45px;
    padding-bottom: 27px;
    font-weight: 300;
}

#resume .container .bio {
    text-align: center;
    margin: 30px 0;
}

#resume .container .bio h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#resume .container .bio .links a {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-decoration: underline;
    border-right: 2px solid black;
    padding: 0 10px;
}

#resume .container .bio .links a:last-child {
    border: none;
}